/* .mainList {
    width: 800px;
    margin: 100px 500px;
} */

.noteList {
    width: 25%;
    /* display: inline-block; */
    border: 1px solid  #232323;
    margin: 10px 10px 15px 10px;
    padding: 5px 15px 20px 15px;
    background: white;
    line-height: 20px;
    color:  #232323;
    text-decoration: none;
    border-radius: 4px;
    /* flex-direction: row; */
    /* align-items: start;
    align-self: flex-start; */
}

.listing {
    display: inline-flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: start; */
    /* align-self: flex-start; */
}

.divide {
    border-bottom: 1px solid  #232323;
    margin-top: 5px;
}

.noteTitle {
    justify-content: flex-start;
    font-size: 18px;
    padding-top: 5px;
    font-weight: bolder;
    color: #232323be;
    text-shadow: 1px 1px #c0b283;
    font-family: 'Merriweather', serif;
}

.noteContent {
    justify-content: flex-start;
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
}
